.input {
  all: unset;
  display: flex;
  padding: 17px 32px;
  align-items: center;
  flex: 1;
  align-self: stretch;
  background: var(--white, #fff);
  /* Font */
  font-family: "Satoshi-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-primary {
  background: var(--white, #fff);
  color: var(--dark-primary, #2a254b);
}
.input-opaque {
  background: rgba(255, 255, 255, 0.15);
  color: var(--white);
}
